<?xml version="1.0"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    如需 .NET 4.5 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime>  標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
	<connectionStrings>
		<add name="SC" connectionString="Data Source=.;Initial Catalog=SC;Persist Security Info=True;User ID=sa;Password=TWtaxi" providerName="System.Data.SqlClient" />
		<add name="TII" connectionString="Data Source=.;Initial Catalog=TII;Persist Security Info=True;User ID=sa;Password=TWtaxi" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>